<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
            <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="site-header">
            <span class="site-title">Me-sidan</span>
        </header>
        <nav>
            <ul>
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('lucky') }}">Lucky number</a></li>
                <li><a href="{{ path('report') }}">Report</a></li>
                <li><a href="{{ path('api') }}">API</a></li>
                <li><a href="{{ path('session') }}">Session</a></li>
                <li><a href="{{ path('session-delete') }}">Delete session</a></li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
        <footer class="site-footer">
            <p>En sida till MVC-kursen | &copy; 2024 Me-sidan</p>
        </footer>
    </body>
</html>
