{% extends "base.html.twig" %}

{% block title %}Update book{% endblock %}

{% block body %}
    <form method="post" action="">
        <label for="titel">Titel:</label>
        <input type="text" name="titel" maxlength="255" value="{{book.titel}}">
        <label for="author">Author:</label>
        <input type="text" name="author" maxlength="255" value="{{book.author}}">
        <label for="isbn">ISBN:</label>
        <input type="text" name="isbn" minlength="13" maxlength="13" value="{{book.isbn}}" readonly>
        <label for="image">Image url:</label>
        <input type="text" name="image" maxlength="2048" value="{{book.image}}">
        <input type="submit" name="POST library/update_book_post" value="Update book"
        onClick="this.form.action='{{ path('update_book_post') }}';this.form.method='post';"
        >
    </form>
{% endblock %}