<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
            <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('project') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="site-header">
            <span class="site-title">Projektet</span>
        </header>
        <nav>
            <ul>
                <li><a href="{{ path('project') }}">Home</a></li>
                <li><a href="{{ path('about-project') }}">About</a></li>
                <li><a href="{{ path('session-delete') }}">Reset</a></li>
            </ul>
        </nav>
        <main>
        {% block body %}{% endblock %}
        </main>
        <footer class="site-footer">
            <p>Projekt | &copy; 2024 Martin</p>
        </footer>
    </body>
</html>
